@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Components */
@layer components {
  .glass {
    @apply bg-white/80 dark:bg-gray-900/80 backdrop-blur-xl;
  }
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}